.anim-section {
    /*background: #d3e59f;*/
    background-color: #778E4D;
    padding: 120px 102px;
    width: 1440px;
    border-radius: 40px;
    margin: 30px auto;
}
body {
    background-color: #F5FFD9;
}
.anim-container {
    margin: 0 auto;
    display: flex;
    gap: 95px;
    align-items: center;
    justify-content: center;

}
.anim-img {
width: 350px;
height: 350px;
border-radius: 15px;
object-fit: cover;
object-position: center;

}

.anim-1 {
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-start;
    height: 620px;


}







.anim-3 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: flex-end;
    height: 620px;

}
.anim-text {
    font-family: 'YSA-body-font' ;
        font-weight: 600;
        font-size: 40px;
        color: #031703;
}



.anim-hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s ease-out, transform 2s ease-out;
}

.anim-show {
    opacity: 1;
    transform: translateX(0);
}