.header-section {
    border-bottom: 1px solid #fff;
    background: #031703;
        
        padding: 9px 24px;
        
       
    
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.header-item {
    font-family: 'YSA-body-font';
        font-weight: 400;
        font-size: 16px;
        color: #fff;
}

@media only screen and (min-width: 768px) {
    .header-item {
        font-size: 24px;
    }

        .header-section {
            padding: 16px 36px; }
    }









@media only screen and (min-width: 1200px) {
.header-section {
        border-bottom: 1px solid #fff;
        background: #031703;

        padding: 18px 48px;



    }

    .header-list {
        display: flex;
        align-items: center;
        justify-content: space-between;



    }

    .header-item {
        font-family: 'YSA-body-font';
        font-weight: 400;
        font-size: 32px;
        color: #fff;
    }
}