.header-section {
    border-bottom: 1px solid #fff;
    background: #031703;
        
        padding: 18px 48px;;
       
    
}

.header-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    

}
.header-item {
    font-family: 'YSA-body-font';
        font-weight: 400;
        font-size: 32px;
        color: #fff;
}